.nav-list{
    list-style: none;
    display: inline;
    margin: 10px;
    font-size: 1.5em;
    font-weight: bold;
}
.nav-list a{
    text-decoration: none;
    color: blueviolet;
}
.nav-list a:hover{
    background-color: black;
    color: #fff;
    padding: 6px;;
    border-radius: 10px;
}